<%- include('partials/header') %>
    <!-- Home section -->
    <!DOCTYPE html>
    <section id="home">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <h1 class="wow fadeInUp" data-wow-delay="0.6s">Face Attendance Record System</h1>
                    <p class="wow fadeInUp" data-wow-delay="0.9s">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.</p>
                    <a href="/recordAttendance" class="smoothScroll btn btn-success btn-lg wow fadeInUp" data-wow-delay="1.2s">Mark
                        Attendance</a>
                </div>

            </div>
        </div>
    </section>


    <!-- About section -->

    <section id="about">
        <div class="container">
            <div class="row">

                <div class="col-md-9 col-sm-8 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-thumb">
                        <h1>About us</h1>
                        <p>Quisque tempor bibendum dolor at volutpat. Suspendisse venenatis quam sed libero euismod
                            feugiat. In cursus nisi vitae lectus facilisis mollis. Nullam scelerisque, quam nec iaculis
                            vulputate.</p>
                        <p></p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 wow fadeInUp about-img" data-wow-delay="0.6s">
                    <img src="images/team-img2.jpg" class="img-responsive img-circle" alt="About">
                </div>

                <div class="clearfix"></div>

                <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="section-title text-center">
                        <h1>Snapshot Team</h1>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    </div>
                </div>

                <!-- team carousel -->
                <div id="team-carousel" class="owl-carousel">

                    <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-thumb">
                            <div class="image-holder">
                                <img src="images/team-img2.jpg" class="img-responsive img-circle" alt="Mary">
                            </div>
                            <h2 class="heading">Tushar Nayan</h2>
                            <p class="description">Founder of Bitgen. </p>
                        </div>
                    </div>

                    <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-thumb">
                            <div class="image-holder">
                                <img src="images/team-img2.jpg" class="img-responsive img-circle" alt="Jack">
                            </div>
                            <h2 class="heading">Nikunj Baid</h2>
                            <p class="description">UI/UX </p>
                        </div>
                    </div>

                    <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-thumb">
                            <div class="image-holder">
                                <img src="images/team-img2.jpg" class="img-responsive img-circle" alt="Jack">
                            </div>
                            <h2 class="heading">Abdul Basit</h2>
                            <p class="description">CEO, Apple </p>
                        </div>
                    </div>

                </div>
                <!-- end team carousel -->

            </div>
        </div>
    </section>


    <!-- Gallery section -->

    <section id="gallery">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-2 col-md-8 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="section-title">
                        <h1>Gallery</h1>
                        <p>Nullam scelerisque, quam nec iaculis vulputate, arcu ligula sollicitudin nisl, ac volutpat
                            erat nulla a arcu.</p>
                    </div>
                </div>

                <ul class="grid cs-style-4">
                    <li class="col-md-6 col-sm-6">
                        <figure>
                            <div><img src="images/gallery-img1.jpg" alt="image 1"></div>
                            <figcaption>
                                <h1>Sapien arcu</h1>
                                <small>Cum sociis natoque penatibus et magnis dis parturient montes.</small>
                                <a href="#">Read More</a>
                            </figcaption>
                        </figure>
                    </li>

                    <li class="col-md-6 col-sm-6">
                        <figure>
                            <div><img src="images/gallery-img2.jpg" alt="image 2"></div>
                            <figcaption>
                                <h1>Aliquam erat</h1>
                                <small>Suspendisse venenatis quam sed libero euismod feugiat.</small>
                                <a href="#">Details</a>
                            </figcaption>
                        </figure>
                    </li>

                    <li class="col-md-6 col-sm-6">
                        <figure>
                            <div><img src="images/gallery-img3.jpg" alt="image 3"></div>
                            <figcaption>
                                <h1>Cras ante sem</h1>
                                <small>Aenean urna massa, convallis vehicula velit et, dictum pellentesque nisi.</small>
                                <a href="#">Learn More</a>
                            </figcaption>
                        </figure>
                    </li>

                    <li class="col-md-6 col-sm-6">
                        <figure>
                            <div><img src="images/gallery-img4.jpg" alt="image 4"></div>
                            <figcaption>
                                <h1>Sed ornare</h1>
                                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
                                <a href="#">Full Post</a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>

            </div>
        </div>
    </section>


    <!-- Contact section -->

    <section id="contact">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 col-sm-12">

                    <div class="col-lg-offset-1 col-lg-10 section-title wow fadeInUp" data-wow-delay="0.4s">
                        <h1>Send a message</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>

                    <form action="#" method="post" class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-6 col-sm-6">
                            <input name="name" type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <textarea name="message" rows="6" class="form-control" id="message"
                                placeholder="Message"></textarea>
                        </div>
                        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
                            <input type="submit" class="form-control" value="SEND MESSAGE">
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </section>


    <!-- <%- include('partials/footer') %> -->